@media (max-width: 425px) {  
    #input{
        padding: 1.3rem;

    } /*1rem = 16px*/
    .hero {
        font-size: .8rem !important;
    }
  
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    #input{
        padding: 2rem;
    } 
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    #input{
        padding: 2rem;
    } 
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    #input{
        padding: 2rem;
    } 
    .navbar-nav {
      font-size: 1.3rem;
    }  
  }